<h1> All Restaurants</h1>

<div class="restaurants row row-cols-1 row-cols-md-2 g-4">
  <% @restaurants.each do |restaurant| %>
  <div class="restaurant col">
    <div class="card">
      <div class="card-header">
        Category: <%= restaurant.category.upcase %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.name %></h5>
        <p class="card-text">Address: <%= restaurant.address %></p>
        <p class="card-text">Phone: <%= restaurant.phone_number %></p>
        <%= link_to restaurant_path(restaurant) do %>
          <button type="button" class="btn btn-primary">view details</button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div
